* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 24px;
  font-family: arial, sans-serif;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  font-weight: bold;
}

ul{
  list-style: none;
 }

 /* header section */
header {
  display: flex;
  height: 64px;
  width: auto;
  align-items: center;
  padding: 0 24px;
}

header img {
  height: 32px;
  width: auto;
 }

header #academy {
  color: gray;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
 }

nav ul li {
  width: auto;
  margin: 0 8px;
}

/* banner section */

#banner {
  background-color: #D8D8D8;
  display: flex;
  width: auto;
  padding: 32px 24px;
}

.main {
  width: 60%;
  height: auto;
}

#learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

#learn h4 {
  margin: 2rem 0;
}

#button {
  background-color: #4A4A4A;
  color: white;
  text-align: center;
  padding: 8px 0;
  margin-top: 8px;
}

/* practice section */

/* practice image and text left */

#practice {
  display: flex; 
  width: auto;
  padding: 32px 24px;
}

#testimonial {
  width: 60%;
  padding-right: 24px;
}

#mainimg img {
  width: auto;
}

#maintext h2 {
  padding: 32px 0 24px 0;
}

#maintext h6 {
  padding-top: 24px;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

/* info box right */

.infobox {
  display: flex;
  padding: 0 16px;
}

.infobox img {
  width: 35%;
  height: auto;
}

#guest.infobox {
 background-color:#D8D8D8;
 padding: 16px;
}

.schedule {
  align-content: center;
  width: 65%;
  padding: 0 16px;
}

.schedule p {
  padding: 8px 0;
}

/* start learning section */

#learning {
  width: auto;
  background-color: #D8D8D8;
  padding: 32px 72px;
}

#learning h2 {
  text-align: center;
  padding-bottom: 32px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.thumb {
  height: auto;
}

.thumbnails {
  width: 30%;
  background-color: white;
  
} 

.thumbtext {
  padding: 16px 0 24px 16px;
  overflow-x: wrap;
}

.thumbtext h5 {
  padding: 8px 0;
}

/* thesis exhibit */

#thesis {
  width: auto;
  padding: 32px 0px 32px 24px;
}


#thesis h2 {
  text-align: center;
  padding-bottom: 32px;
}

#thesiscontent {
  display:flex;
  width: 100%;
  gap: 24px;
}

#thesis video {
  padding-bottom: 32px;
  width: 100% auto;
}

#videoleft h3 {
  padding-bottom: 8px;
}

#exhibit {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  /* padding: 16px 0 16px 16px; */
  align-items: center;
}

#exhibit img {
  width: 35%;
}

#exhibit .infobox {
  padding-top: 24px;
}

/* footer */

footer {
  display:flex;
  padding: 16px 24px;
  width: auto;
  justify-content: space-between;

}